language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"

install:
  - "pip install -r requirements.txt"

script: "python$TRAVIS_PYTHON_VERSION setup.py build && python$TRAVIS_PYTHON_VERSION -m pytest"
