include argparse-manpage
include AUTHORS
include LICENSE
include NEWS
recursive-include examples *.py *.cfg *.md expected-output.1 expected/**.1 requirements.txt
recursive-include tests *.py
recursive-include unittests *.py
include examples/argument_groups/bin/test
include examples/resalloc/expected/man/resalloc-maint.1
include examples/resalloc/expected/man/resalloc.1
include examples/copr/fake-deps/HACK
include examples/copr/fake-deps/copr/README
include examples/pre-written-man-page/psutils.1
include examples/raw-description/bin/dg
include examples/resalloc/bin/resalloc
include examples/resalloc/bin/resalloc-maint
include tests/extra.man
