include AUTHORS
include LICENSE
include NEWS
recursive-include examples *.py *.txt *.cfg *.md
recursive-include unittests *.py
include examples/copr/expected-output.1
include examples/old_format/expected-output.1
include examples/raw-description/expected-output.1
include examples/resalloc/expected/man/resalloc-maint.1
include examples/resalloc/expected/man/resalloc.1
include examples/copr/fake-deps/HACK
include examples/copr/fake-deps/copr/README
include examples/raw-description/bin/dg
include examples/resalloc/bin/resalloc
include examples/resalloc/bin/resalloc-maint
