---
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Run Tox tests

jobs:
  tox_test:
    name: Tox test
    steps:
      - uses: actions/checkout@v3
      - name: Run Tox tests
        id: test
        uses: fedora-python/tox-github-action@main
        with:
          tox_env: ${{ matrix.tox_env }}
    strategy:
      matrix:
        # sync with tox.ini!
        tox_env:
          - py36
          - py38
          - py39
          - py310
          - py311
          - py312
          - py313
          - py314

    # Use GitHub's Linux Docker host
    runs-on: ubuntu-latest
